{# templates/event/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Events
{% endblock %}

{% block body %}
	<h1>Events</h1>
	{# METHODE AFFICHAGE 1 #}
	<ul>
		{% for event in events %}
			<li>
				<a href="{{ path('event_show', {'id': event.id}) }}">
					{{ event.titre }}
				</a>
			</li>
		{% endfor %}
	</ul>

	{# METHODE AFFICHAGE 2 #}
	<div class="container">
		<div class="row">
			{% for event in events %}
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ event.titre }}</h5>
							<p class="card-text">{{ event.description|slice(0, 100) }}...</p>
							<a href="{{ path('event_show', {'id': event.id}) }}" class="btn btn-primary">Voir Détails</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="card" style="width: 18rem;">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
{% endblock %}
