{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="bg-gray-100 flex justify-center items-center h-screen">
        <div class="flex max-md:flex-col max-md:gap-0">
            <div class="bg-white rounded-lg shadow-md p-4 max-w-sm" style="height: 550px;">
                <h1 class="text-2xl font-semibold mb-2">Register</h1>
                
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email, {'attr': {'class': 'input-field mb-2'}}) }}
                    {{ form_row(registrationForm.firstName, {'attr': {'class': 'input-field mb-2'}, 'label': 'First Name'}) }}
                    {{ form_row(registrationForm.lastName, {'attr': {'class': 'input-field mb-2'}, 'label': 'Last Name'}) }}
                    {{ form_row(registrationForm.phoneNumber, {'attr': {'class': 'input-field mb-2'}, 'label': 'Phone Number'}) }}
                    {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'input-field mb-2'}, 'label': 'Password'}) }}

                    <div class="flex items-center mb-2">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'mr-2', 'id': 'terms'}}) }}
                        <label for="terms">I agree to the <span class="underline">terms and conditions</span></label>
                    </div>

                    <button type="submit" class="bg-red-600 text-white py-2 px-4 rounded-md w-full mb-2">Register</button>
                {{ form_end(registrationForm) }}

                <div class="text-center">
                    <span class="text-gray-600">Have an account?</span>
                    <a href="#" class="font-semibold text-teal-600">Sign in</a>
                </div>
            </div>
            <div class="flex flex-col w-150 max-md:ml-0 max-md:w-full" style="height: 550px;">
                <img src="https://4kwallpapers.com/images/walls/thumbs_2t/2004.jpg" alt="Placeholder Image" class="w-auto h-full rounded-lg" style="max-width: 300px;" />
            </div>
        </div>
    </div>
{% endblock %}
