{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-semibold mb-6">Bienvenu sur le tableau de bord Admin</h1>

        <a href="{{ path('event_create') }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-6">Create Event</a>
        <h1 class="text-2xl font-semibold mb-6">La list dévenements à gerer</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for event in events %}
                <div class="bg-white rounded-lg shadow-md">
                    <img src="{{ event.image }}" class="w-full h-24 object-cover object-center rounded-t-lg" alt="{{ event.image }}">
                    <div class="p-3">
                        <h2 class="text-lg font-semibold">{{ event.titre }}</h2>
                        <p class="text-gray-700 mt-2">{{ event.description|slice(0, 50) }}...</p>
                        <p class="text-sm text-gray-500 mt-2"><strong>Date:</strong> {{ event.dateDebut|date('d/m/Y') }}</p>
                        <p class="text-sm text-gray-500"><strong>Lieu:</strong> {{ event.lieu }}</p>
                        <p class="text-sm text-gray-500"><strong>Capacité:</strong> {{ event.capacite }}</p>
                        <div class="mt-2 flex justify-between items-center">
                            <a href="{{ path('event_edit', {'id': event.id}) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">Edit</a>
                            <a href="{{ path('event_delete', {'id': event.id}) }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded" onclick="return confirm('Are you sure you want to delete this event?')">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container mx-auto px-4 py-8">
        

        <h1 class="text-2xl font-semibold mb-6">Liste des réservations</h1>
        <table class="table-auto w-full">
            <thead>
                <tr>
                    <th class="px-4 py-2">Événement</th>
                    <th class="px-4 py-2">Montant</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td class="border px-4 py-2">{{ reservation.libelle }}</td>
                        <td class="border px-4 py-2">{{ reservation.montant }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}
