<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<!-- Inclure les file css compilé -->
		<link rel="stylesheet" href="{{ asset('build/vendors-node_modules_hotwired_stimulus_dist_stimulus_js-node_modules_bootstrap_dist_css_boots-00c945.css') }}">
		<link
		rel="stylesheet" href="{{ asset('build/app.css') }}">

		<!-- Inclure le bundle css -->
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.0/mdb.min.css" rel="stylesheet"/>
		<!-- Font Awesome -->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
		<!-- Google Fonts -->
		<link
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
		<!-- MDB -->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.0/mdb.min.css" rel="stylesheet"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<style>
    .input-field {
        border: 1px solid #E5E7EB;
        padding: 0.5rem;
        width: calc(100% - 1rem);
        border-radius: 0.25rem;
    }
</style>

<body>
    {% block body %}

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
    
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.0/mdb.umd.min.js"></script>
</body>
		<!-- Inclure le bundle compilé js-->

		<script src="{{ asset('build/runtime.js') }}"></script>
		<script src="{{ asset('build/vendors-node_modules_hotwired_stimulus_dist_stimulus_js-node_modules_bootstrap_dist_css_boots-00c945.js') }}"></script>
		<script src="{{ asset('build/app.js') }}"></script>
		<script src="{{ asset('build/vendors-node_modules_mdb-ui-kit_js_mdb_min_js.js') }}"></script>
		<script src="{{ asset('build/mdb-init.js') }}"></script>

		<!-- Inclure le bundle js-->
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			{# {{ encore_entry_script_tags('mdb-init') }} #}
		{% endblock %}
	</head>
	<body>
		{% block body %}

			<!-- MDB -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.0/mdb.umd.min.js"></script>
			<!-- Inclure le fichier JavaScript MDB init -->
			<script src={{ asset('assets/mdb-init.js') }}></script>

		{% endblock %}
	</body>
</html>
