<!-- Navbar -->
<!-- Font Awesome -->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
<style>
	.custom-bg-color {
		background-color: #4f4f4f;
	}
	.custom-color {
		 color: #DC4C64;
	}
</style>
<nav
	class="navbar navbar-expand-lg sticky-top navbar-light bg-body-tertiary">
	<!-- Container wrapper -->
	<div
		class="container"> 
		<!-- Navbar brand -->
		<a class="navbar-brand me-2" href="{{ path('event_index') }}">
			<img src="{{ asset('images/logo.png') }}" alt="Logo" class="img-fluid" style="max-width: 80px;">
		</a>


		<!-- Toggle button -->
		<button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div
			class="collapse navbar-collapse justify-content-center" id="navbarButtonsExample">
			<!-- Left links font-bold -->
			<div></div>
			<ul class="navbar-nav mb-2 mb-lg-0 mx-auto fw-medium">
				<li class="nav-item mx-3">
					<a class="nav-link" aria-current="page" href="{{ path('event_index') }}#musique"><i class="fa-solid fa-house me-1"></i> Accueil</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="{{ path('show_categories') }}#musique"><i class="fa-solid fa-music  me-1"></i> Music</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="{{ path('show_categories') }}#sports"><i class="fa-solid fa-baseball me-1"></i> Sport</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="{{ path('show_categories') }}#art-theatre"> <i class="fa-solid fa-masks-theater me-1"></i> Art & Théatre</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" aria-current="page" href="{{ path('show_categories') }}#Fiesta"><i class="fa-solid fa-wand-magic-sparkles me-1"></i> Festival</a>
				</li>
			</ul>

			<!-- Left links -->

			<div class="d-flex align-items-center ms-auto">
				<button data-mdb-ripple-init id="loginBtn" type="button" class="btn btn-link px-3 me-2 custom-color fw-bolder">
					Se Connecter
				</button>
				<button data-mdb-ripple-init id="SignInBtn" type="button" class="btn btn-primary fw-semibold btn-danger text-light me-3">
					S'inscrire 
				</button>
			</div>
		</div>
		<!-- Collapsible wrapper -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
<script>
	document.getElementById('loginBtn').onclick = function () {
window.location.href = "{{ path('app_login') }}";
};
document.getElementById('SignInBtn').onclick = function () {
window.location.href = "{{ path('app_register') }}";
};
</script>
